{% extends "base.html" %} {% block head%} {% endblock %} {% block title %}O
projektu - {% endblock %} {% block content %}
<div class="containter">
  <div class="p-3">
    <div class="container">
      <h1>O projektu</h1>
      Léčba je nedílnou součástí lidské společnosti již od pravěku, dávno před
      vznikem prvních civilizací. Za léčitele byli původně označování šamani a
      kouzelníci, kteří příčiny nemocí hledali v nadpřirozenu a neduhy léčili
      pomocí rituálů či bylinek. S vývojem lidské rasy, vznikem starověkých
      civilizací a pokrokem s tímto spjatým se obor posouval stále více vpřed až
      vznikla jedna z prvních věd - lékařství. Její zakladatel, Hyppokratés,
      viděl naprosto zřejmé důvody proč tento vědní obor založit. Společnost si
      vytvořila sociální a citové vazby na konkrétní jedince, kteří si
      (většinou) přejí prožít co nejdelší život, nebo je společnost na nich
      závislá díky jejich unikátním zkušenostem a dovednostem. Nesmíme tak
      zapomenout i na čistě praktický důvod, který je v moderní civilizaci již
      na ústupu, ale v některých oblastech světa je stále velmi zásadní. Lidská
      reprodukce je časově náročná a ztráta jakéhokoliv vyspělého jedince může
      být pro určitou skupinu kritická (např. z hlediska pracovní síly). Proto
      lékařství vždy patřilo mezi nejdůležitější obory vědy. Tak je tomu i
      dodnes.
      <br />
      Přestože došlo k vymýcení či výraznému potlačení mnoha nemocí, důsledkem
      moderního městského životního stylu se objevují stále nové civilizační
      choroby. Reakcemi na tyto události a nemoci jsou vzniky stále nových
      technik a lékařských oborů. Tím dochází ke štěpení této vědy na konkrétní
      specializace. V dnešní době je lékařství tak obsáhlá věda, že je těžko
      představitelné, aby byl lékař expertem na všechny její podoblasti, a proto
      se specializuje na jednu (nebo několik málo) činností. Pokud je obor již
      zastaralý, nemoci vymýcené, obor přirozeně zaniká.
      <br />
      Nemoci se na území České republiky neobjevují pouze lokálně, ale v rámci
      prakticky stejných životních podmínek a malé geografické rozlohy se
      vyskytují po celé zemi. Pomineme-li vznik ohnisek, které se ale také mohou
      objevit prakticky kdekoliv. Obyvatelstvo celé této země by mělo mít
      zaručenou určitou zdravotnickou péči, což je přímo ustanoveno v zákoně č.
      372/2011 Sb., o zdravotních službách a podmínkách jejich poskytování, ve
      znění pozdějších předpisů. Z tohoto důvodu je nutné, aby byla
      celorepublikově dostatečně pokrytá potřebná zdravotnická péče v co
      nejširším rozsahu. Je nepředstavitelné, aby například osoba bydlící v
      Karlovarském kraji, musela dojíždět ke stomatologovi nebo ortopedovi do
      jiného kraje a přitom neměla vhodnější alternativu.
      <br />
      Již nějakou dobu stojí Česká republika na hraně propasti. Podle tiskové
      zprávy České lékařské komory nedostatek lékařů ohrožuje kvalitu
      zdravotnické péče. Za hlavní důvody jsou označeny stárnutí lékařské
      komunity, exodus lékařů do zahraničí a nedostatečné pracovní podmínky
      (především nedostatečné finanční ohodnocení a nadměrná fyzická i psychická
      zátěž). Lékaři stárnou a podle hrubých propočtů ministerstva zdravotnictví
      jich do roku 2030 odejde třetina do důchodu. Tuto díru by měli zaplnit
      noví lékaři, především absolventi vysokých škol. Mnoho z nich však z
      finančních důvodů opouští Českou republiku a stěhuje se za prací do
      západních zemí, zejména Německa a Velké Británie. Nedostatek nových lékařů
      tak způsobuje nadměrnou pracovní zátěž pro ty stávající. Mnozí z nich musí
      nadále pracovat i přes dosažený důchodový věk. Bez této skupiny se podle
      odborníků některé obory zdravotnictví mohou zhroutit. Svoji nemalou roli
      hrála v posledních letech také epidemiologická situace, která vyžadovala
      vyšší počty lékařského i nelékařského zdravotnického personálu. Dokazuje
      to i skutečnost, že Česká republika na počátku roku 2021 nedokázala
      poskytnout zdravotnickou péči svým občanům a musela tak požádat o pomoc
      sousední státy. V Ústeckém kraji je u lékařů evidován mezi létem 2019 a
      létem 2021 nárůst volných pracovních pozic ve výši 20 \%. I tento
      nedostatek může vést ke snížení kapacity, nedostatečnému pokrytí
      ordinačních hodin či redukci lůžek, a tedy k nedostatečné dostupnosti
      zdravotní péče v daném regionu.

      <br />
      Hlavním cílem této práce je zpracování a analýza aktuálního pokrytí
      lékařských oborů v závislosti na území a populaci a vytvoření mapy
      dostupnosti zdravotnické péče v ČR s následnou predikcí vývoje v
      nadcházejících 3 letech. Nedílnou součástí této práce je získání
      nezbytných dat od různých lékařských institucí, škol, případně pojišťoven
      pro realizaci zvoleného tématu, ideálně v rozmezí posledních 5 - 10 let.
      Analýza těchto dat pomůže především včas odhalit problematická místa a
      obory, tak aby bylo možné systematicky předcházet výpadkům zdravotní péče
      napříč celou Českou republikou. Dalším cílem je vytvoření internetové
      aplikace, která bude srozumitelná a dostupná nejen zdravotnickým
      institucím, ale i široké veřejnosti. Nová aplikace bude sloužit k
      upozornění na kritické lékařské i geografické oblasti a hrozící
      nedostupnost zdravotnické péče v budoucnosti. Práce je zároveň koncipována
      tak, aby dokázala reagovat na aktuální vývoj situace a aby v případě
      aktualizace a poskytnutí nových dat dokázala přemodelovat stávající trendy
      a reflektovat skutečnost, což se poté odrazí i v následné predikci vývoje.
      Všechny zdravotní instituce, pojišťovny i školy se tak budou moci díky
      získaným znalostem zaměřit na problémové specializace a místa a dle svého
      uvážení motivovat stávající i budoucí lékaře k úspěšnému pokrytí
      zdravotnické péče v České republice. Veřejnost získá povědomí o rozložení
      sil lékařského personálu a díky dostupným informacím může například
      upozornit státní orgány na vznikající problém nebo se rozhodnout o migraci
      do dané lokality. Součást této práce tvoří i twitterový účet
      <a href="https://twitter.com/Lekari_v_CR">
        Dostupnost lékařské péče v ČR </a
      >, jehož cílem bylo dostat tento projekt do povědomí širší veřejnosti.
    </div>
  </div>
</div>

{% endblock %}
