{% extends "base.html" %} {% block title %}Lékaři - {% endblock %} {% block
content %}
<div class="container" id-="main_doctors">
  <div class="p-3">
    <h1>Seznam lékařů</h1>
    <!-- <ul class="list-group list-group-flush" id="doctors"> -->
    <table class="table table-hover item-list table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Jméno</th>
          <th scope="col">Dummy</th>
          <th scope="col">URL</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <th class="tg-vhup">{{row}}</th>
          <!-- <th class="tg-vhup">{{row.age_now_estimate}}</th>
          <th class="tg-vhup">{{row.age_end_estimate}}</th>
          <th class="tg-vhup">
            <a href="{{row.date_end_estimate}}">{{row.date_end_estimate}}</a> -->
            <!-- <a
                href="https://www.lkcr.cz/seznam-lekaru?filterId=NTE1OTI2ODE4OCwsRGVuaXNhLCxBZGFtY292w6E%3D&do[load]=1"
                >Link</a
              > -->
          </th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- </ul> -->
  </div>
</div>
{% endblock %}
