{% extends "base.html" %} {% block head %}

<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
  integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
  crossorigin=""
/>

{% endblock %} {% block title %}Mapa - {% endblock %} {% block content %}

<div class="p-3">
  <h1>Mapa</h1>

  <div class="container">
    <form method="POST" action="/mapa" align="center">
      <select
        name="medical_specialty"
        id="medical_specialty"
        onchange="this.form.submit()"
      >
        <option value="Všechny obory">--Vyberte obor--</option>
        {% for med_spec in medical_specialties %}
        <option value="{{med_spec.medical_specialty_name}}">
          {{med_spec.medical_specialty_name}}
        </option>
        {% endfor %}
      </select>
    </form>
  </div>
  <br />
  <div
    id="map"
    class="leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-touch-zoom leaflet-gesture-handling"
  ></div>
  <div class="p-3 container">
    <table class="table table-hover item-list table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Top 5 okresů</th>
          <th scope="col">Počet doktorů / 10 000 obyv.</th>
        </tr>
      </thead>
      <tbody>
        {% for i, row in top5.iterrows() %}
        <tr>
          <th class="tg-vhup">{{i+1}}</th>
          <th class="tg-vhup">{{row['district']}}</th>
          <th class="tg-vhup">{{row['ratio']}}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />
    <table class="table table-hover item-list table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Nejhorších 5 okresů</th>
          <th scope="col">Počet doktorů / 10 000 obyv.</th>
        </tr>
      </thead>
      <tbody>
        {% for i, row in worst5.iterrows() %}
        <tr>
          <th class="tg-vhup">{{i+1}}</th>
          <th class="tg-vhup">{{row['district']}}</th>
          <th class="tg-vhup">{{row['ratio']}}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %} {% block scripts %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename='geojson/regions.json') }}"
></script>
<script type="text/javascript">
  var legend_labels ={{legend_labels|safe}};
  var ratios ={{ratios|safe}};
  var normalized_names ={{normalized_names|safe}};
</script>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/map.js') }}"
></script>

{% endblock %}
