{% extends "base.html" %} {% block head %}

<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
  integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
  crossorigin=""
/>

{% endblock %} {% block title %}Mapa - {% endblock %}{% block content %}
<div class="p-3">
  <div class="container" align="left">
    <h1 align="left">Predikce dostupnosti lékařské péče</h1>
    <form method="POST" action="/mapa" align="center">
      <strong>Lékařská specializace:</strong>
      <select
        name="medical_specialty"
        id="medical_specialty"
        onchange="this.form.submit()"
      >
        <option value="všechny specializace">-- vyberte --</option>
        {% for med_spec in medical_specialties %} {% if med_spec == ms_value %}
        <option value="{{med_spec}}" selected>{{med_spec}}</option>
        {% else %}
        <option value="{{med_spec}}">{{med_spec}}</option>
        {% endif %} {% endfor %}
      </select>

      <br />

      <strong>Rok</strong>:
      <input
        type="range"
        min="2020"
        max="2026"
        value="{{pred_year}}"
        id="pred_year"
        name="pred_year"
        oninput="pred_year_out.value = pred_year.value"
        onchange="this.form.submit()"
      />
      <output id="pred_year_out">{{pred_year}}</output>
      <br />
      <strong>ČLK ratio</strong>*:

      <input
        type="range"
        min="1"
        max="100"
        value="{{clk_ratio}}"
        id="clk_ratio"
        name="clk_ratio"
        oninput="clk_ratio_out.value = clk_ratio.value/100"
        onchange="this.form.submit()"
      />
      <!-- class="slider" -->
      <output id="clk_ratio_out">{{clk_ratio/100}}</output>

      <br />
      <strong>Důchodový věk</strong>:
      <input
        type="range"
        min="60"
        max="75"
        value="{{senior_age}}"
        id="senior_age"
        name="senior_age"
        oninput="senior_age_out.value = senior_age.value"
        onchange="this.form.submit()"
      />
      <output id="senior_age_out">{{senior_age}} let</output>
      <br />

      <strong>Počet hodin</strong>:
      <input
        type="range"
        min="30"
        max="100"
        value="{{hours_weekly}}"
        id="hours_weekly"
        name="hours_weekly"
        oninput="hours_weekly_out.value = hours_weekly.value"
        onchange="this.form.submit()"
      />
      <output id="hours_weekly_out">{{hours_weekly}}h týdně</output>
      <br />
    </form>
  </div>
  <div
    id="map"
    class="leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-touch-zoom leaflet-gesture-handling"
  ></div>

  <div class="container">
    <i>
      *Poměr mezi lékaři zapsanými do ČLK/ČSK a absolventy lékařských fakult VŠ
      v daném roce.
    </i>
  </div>
</div>
{% endblock %} {% block scripts %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename='geojson/regions.json') }}"
></script>
<script type="text/javascript">
  var legend_labels ={{legend_labels|safe}};
  var data ={{data|safe}};
  var normalized_names = {{normalized_names|safe}};
  var legend_title = JSON.parse('{{legend_title| tojson|safe}}');
  var map_title = {{map_title|tojson|safe}};
  var map_coloring = JSON.parse('{{map_coloring| tojson|safe}}');
  var ratio_label = {{ratio_label|tojson|safe}};
</script>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/map.js') }}"
></script>

{% endblock %}
